
{% extends 'index.html'%}
{% block page-content%}
	
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">监控概览</a></li>
            <li><a href="/autoApp/alarm/">告警信息</a></li>
            <li><a href="/autoApp/service_status/">运行状态</a></li>
            <li><a href="/autoApp/traffic/">流量图</a></li>
          </ul>


        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

 

          <h2 class="sub-header">Section title</h2>
          <div class="table-responsive" id='triggers'>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>主机名</th>
                  <th>报警详情</th>

                </tr>
              </thead>
              <tbody>
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
	<script>
    var autoRefresh = setInterval(function(){
		$.getJSON('/autoApp/triggers/',{'test':'test'},function(callback){
            console.log(callback);
			msg = "<table class=" + "table table-striped" + ">" + "<thead>" + "<tr>" + "<th>主机名</th>"  + "<th>报警详情</th>" +  "</tr>" + "</thead>";

            $("#triggers").empty();
            $.each(callback, function(k,v){
			  console.log(k.host);
                msg =  msg + "<tbody>" + "<tr><td>" + v[0]+"</td><td>" + v[1] + "</td></tr>";
            });//end each   
				msg = msg + "</tbody></table>"
                $("#triggers").append(msg);
		});//end get
	
    },7000);
	
	</script>	  {%endblock%}



