
{% extends 'index.html'%}
{% block page-content%}
<style type="text/css">
<!--
.t {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #CC0000;
}
.c {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: normal;
        color: #000000;
        line-height: 18px;
        text-align: center;
        border: 1px solid #CCCCCC;
        background-color: #FFFFEC;
}
body {
        background-color: #FFFFFF;
        margin-top: 100px;
}
-->
</style>
</head>
<body>
<div align="center">
  <h2><span class="t">Permission deny</span></h2>
  <table border="0" cellpadding="8" cellspacing="0" width="460">
    <tbody>
      <tr>
        <td class="c">您好，您没有访问此页面的权限，请联系管理员. >>XXX@hc360.com<<</td>
      </tr>
    </tbody>
  </table>
</div>
</body>
{%endblock%}